textarea {
	width:100%;
	max-width: 100%;
max-height: 100%;
 }

.form-gourp-lg{
	display:block;
	background: #fff;
	border-left: 15px solid #0099CC;
	border-right: 2px solid #0099CC;
	margin: 0 auto;

}

.form-group{
	margin: 0 auto;

}

.charCounter{
	float: right;

}

.saveButton{
	margin:0 auto;
	display: table;
}


.resetButton{
	margin:0 auto;
	display: table;
	margin-bottom: 3px;
}

.formTitle{
	  text-decoration: underline;
}
.remark{
	text-align:center;
	font-family: Georgia, serif;
	font-style: oblique;
	font-size: 10pt;
}

.remark-date{
	text-align: left;
}

 blockquote{
   display:block;
   background: #fff;
   padding: 15px 20px 15px 45px;
   margin: 0 0 20px;
   position: relative;

   /*Font*/
   font-family: Georgia, serif;
   font-size: 16px;
   line-height: 1.2;
   color: #666;
   text-align: justify;

   /*Borders - (Optional)*/
   border-left: 15px solid #0099CC;
   border-right: 2px solid #0099CC;

   /*Box Shadow - (Optional)*/
   -moz-box-shadow: 2px 2px 15px #ccc;
   -webkit-box-shadow: 2px 2px 15px #ccc;
   box-shadow: 2px 2px 15px #ccc;
 }

 blockquote::before{
   content: "\201C"; /*Unicode for Left Double Quote*/

   /*Font*/
   font-family: Georgia, serif;
   font-size: 60px;
   font-weight: bold;
   color: #999;

   /*Positioning*/
   position: absolute;
   left: 10px;
   top:5px;
 }

 blockquote::after{
   /*Reset to make sure*/
   content: "";
 }

 blockquote a{
   text-decoration: none;
   background: #eee;
   cursor: pointer;
   padding: 0 3px;
   color: #c76c0c;
 }

 blockquote a:hover{
  color: #666;
 }

 blockquote em{
   font-style: italic;
 }



 body {
	 font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-size: 1.5em;
}


 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-weight: 800;
   font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

 a {
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   transition: all 0.2s; }
   a:focus, a:hover {
     color: #0085A1; }

 a img:focus, a img:hover {
   cursor: zoom-in; }



 .formElement{
	 width: 80%;
	 margin: 0 auto;
	 margin-bottom: 20px;
 }

 .alternativeInput{
	 margin-top: -20px;
 }

.numberPicker{
	min-height: 3em;
}


.jumbotron p {
    font-size: 16px;

}

.jumbotron{
	padding-top: 30px;
}

.nextButton{
	float:right;
}

hr{
	background-color: grey;
	height: 2px;
	margin-top: 0px;
	margin-bottom: 5px;
}


.color-orange{
	color:orange;
}

.color-green{
	color:green;
}

.end-form-button{
	float: right;
}

.align-left{
	float: left;
}

.align-center{
	margin-left: auto;
margin-right: auto;
}

.stylish-justify {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.stylish-justify  > div {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
    padding: 10px;
}



[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

[data-notify="container"] {
	max-width: 25em;
}

.alert{
	font-size: 12pt;
}

.modal-body{
	font-size: 12pt;
}

.modal-footer{
	  font-weight: bold;
}

[data-notify="container"] > [data-notify="title"] {
	display: block;
	font-weight: 700;
	margin-bottom: 5px;
	font-size: 14pt;
}


.likertScale {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: 10px;


	border-radius: 5px;
border: 2px solid #bbdefb;
background-color: white;
}

.displayNone{
	display: none;
}

.displayHidden{
	visibility:hidden;
}

.nanobar {
  width: 100%;
  height: 12px;
	background: #b3e5fc;
}
.bar {
  width: 0;
  height: 100%;
  transition: height .7s;
  background:#00e676 ;
}

.form-navigation{
	width: 80%;
	margin: 0 auto;
}

.formPageCounter{
	text-align: center;
	padding-top: 7px;
	font-family: Georgia, serif;
font-style: italic;

}

.div-top{
float:left;
}
.div-bottom{
float:left;
clear: left;
}

form > label {
	margin-right: 20px;
}

.radio.radio-single {
    label {
        width: 0;
        height: 16px;
        visibility: hidden;
        &:before, &:after {
            visibility: visible;
        }
    }
}

.checkbox.checkbox-single {
    label {
        width: 0;
				padding-left: 0;
        height: 16px;
        visibility: hidden;
        &:before, &:after {
            visibility: visible;
        }
    }
}



@media (max-width: 995px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

.btn-secondary{
	border: 1px solid grey;
}
