
@media screen and (min-width: 700px){

	.likertScale {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
	}

	.likertScale  > div {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-around;
	}

td > label {
	padding-left:0;
	margin-bottom: 0;
}

table {
	text-align: center;
}

td.radio {
	padding-left: 32px;
}
tr  > .radio{
	min-height: 0;
  margin-top: 0;
	margin-bottom: 0;
}
}


@media screen and (max-width: 699px){

	.likertScale {
		display: block;
	}



td > label {
	padding-left:0;
	margin-bottom: 0;
}
table {
	text-align: left;
}

td.radio {
	padding-left: 32px;
}
tr  > .radio{
	min-height: 0;
  margin-top: 0;
	margin-bottom: 0;
}
tr{float:left}​
}
