.card-views{
	display: table;
}

.card-view{
	display: table-row;
}

.title{
	display: table-cell;
	padding-bottom: 5px;
	vertical-align : top;
}

.value{
	display: table-cell;
	  padding-bottom: 5px;
		vertical-align : top;

}
